.git
.github
.cursor
**/.next
**/node_modules
**/.turbo
**/*.md
!apps/docs/content/**/*.md
!apps/docs/content/**/*.mdx
.env
.env.*
!.env.example
apps/app/.env.local
apps/site/.env.local
apps/docs/.env.local
docker-compose*.yml
nginx
scripts
docs
*.log
coverage
.turbo
